<div>
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Senha</th>
          <th scope="col">Tipo</th>
          <th scope="col">Opções</th>
          
        </tr>
      </thead>
      <tbody  *ngFor="let p of professor">
        <tr >
          <td>{{ p.id }}</td>
          <td>{{ p.nome }}</td>
          <td>{{ p.email }}</td>
          <td>{{ p.tipo }}</td>
          <td> 
              <button class="btn btn-outline-warning mb1 btn-sm" (click)="atualizarProfessor(p.id)">Atualizar</button>
              {{' '}}
              <button class="btn btn-outline-danger mb1 btn-sm"(click)="removerProfessor(p.id)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>