<div>
  <a class="btn btn-primary" id="btn-cad" href="/curso-cad" role="button"
    >Cadastrar curso</a>

  <div id="colum-curso" class="container px-4">
    <div class="row gx-5" *ngFor="let c of curso">
      <div class="col">
        <div class="p-3 border bg-light">
          <h1>{{ c.nome }}</h1>
          <p>{{ c.descricao }}</p>
          <div id="inline">
            <button type="button" row class="btn btn-success" (click)="aula()">
              Gerenciar Aulas
            </button>
            {{ "   " }}
            <button type="button" class="btn btn-warning" (click)="cursoEdit(c.id)">Editar</button>
            {{ "   " }}
            <button type="button" class="btn btn-danger"(click)="deleteCurso(c.id)">Deletar</button>
            {{ "   " }}
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
